[submodule "pression/data/zstd"]
	path = pression/data/zstd
	url = https://github.com/facebook/zstd.git
[submodule "pression/data/snappy"]
	path = pression/data/snappy
	url = https://github.com/google/snappy
[submodule "pression/data/zfp"]
	path = pression/data/zfp
	url = https://github.com/LLNL/zfp
